@media (min-width: 1200px){
    .container{
        max-width: 1180px;
    }
}
@media (min-width: 1200px){
    .Geting_started_sec .container,
    .Our_business_sec  .container,
    .Support_API_sec .container{
        max-width: 1100px;
    }
}
@media (min-width: 1200px){
    footer .container{
        max-width: 1080px;
    }
}

@media (max-width: 1600px){
    .Support_API_sec{
        padding: 24px 0 24% 0;
    }
}

@media (max-width: 1440px){
    .Support_API_sec{
        padding: 24px 0 28% 0;
    }
    .about_hero_sec{
        height: 585px;
    }
    .about_hero_row .about_hero_img {
        bottom: 0px;
    }
    .about_hero_row .about_hero_text {
        width: 50%;
        margin-bottom: 110px;
    }
}
@media (max-width: 1430px){
    .about_hero_row .about_hero_img {
        right: 0;
    }
}
@media (max-width: 1280px){
    .support_li_hover {
        width: 336px;
    }  
    .Support_API_images ul >div:nth-child(3) .support_li_hover_top:nth-child(2) {
        right: -270px;
    }
    .Support_API_images ul >div:nth-child(3) .support_li_hover_top.support_li_hover p::after {
        right: 270px;
    }
    .Support_API_sec{
        padding: 24px 0 32% 0;
    }
    .about_hero_img::before {
        right: -5px;
        top: -60px;
        width: 96%;
    }
}

@media (max-width: 1199px){
    .menu_block {
        margin-right: 0px;
    }
    .menu_block ul li a {
        font-size: 17px;
    }
    .menu_block ul li:not(:last-child) {
        margin-right: 25px;
        padding: 17px 0;
    }
    .hero_img_main img{
        height: 511px;
    }  
    .Our_business_item p {
        max-width: 265px;
    }
    .Support_API_images ul div li:nth-child(3) {
        right: -127px;
        bottom: -66px;
    }
    .support_li_hover {
        bottom: -205px;
        height: unset;
        right: -84px;
    }
    .Support_API_images ul li a span {
        bottom: 37%;
    }
    .support_li_hover p {
        padding: 10px 0px 10px 15px;
        z-index: 1;
    }
    .Support_API_images ul >div:nth-child(2) .support_li_hover_top.support_li_hover p::after {
        bottom: -25px;
    }
    .support_li_hover.support_li_hover_top {
        top: -105px;
    }
    .Support_API_images ul >div:nth-child(2) .support_li_hover_top:nth-child(2) {
        right: 100px;
    }
    .Support_API_images ul >div:nth-child(3) .support_li_hover_top.support_li_hover p::after {
        bottom: -25px;
        z-index: -1;
    }
    .support_li_hover p::after {
        top: -25px;
        z-index: -1;
    }
    .support_li_hover {
        bottom: -180px;
        width: 275px;
    }
    .Support_API_images ul >div:nth-child(3) .support_li_hover_top:nth-child(2) {
        right: -230px;
    }
    .Support_API_images ul >div:nth-child(3) .support_li_hover_top.support_li_hover p::after {
        right: 220px;
    }
    .Support_API_sec {
        padding: 24px 0 26% 0;
    }
    .footer_sec {
        background-position-x: -50px;
    }
    .about_hero_img::before {
        right: -45px;
        top: -70px;
        width: 120%;
    }
    .about_hero_sec {
        height: 550px;
    }
    .about_hero_row .about_hero_text {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 991px) {
    /********************  Mobile Menu Css Start *********************/
    .landing-page header {
        padding: 10px 0 10px;
    }
    .cm-overflow, .cm-overflow body, .modal-open {
        overflow: hidden;
        touch-action: none;
    }
    .menu_list{
        width: 100%;
        position: relative;
        z-index: 99;
    }
    .logo_hold {
        position: relative;
        z-index: 110;
    }
    .menu_toggle_btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: auto;
        position: relative;
        z-index: 102;
    }
    .open_menu .menu_toggle_btn span {
        background-color: #fff;
    }
    .open_menu .menu_block {
        clip-path: circle(100%);
        -webkit-clip-path: circle(100%);
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
        text-align: center;
        overflow-y: scroll;
    }
    .menu_block {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgb(0 44 83);
        clip-path: circle(0px at 100% 0px);
        -webkit-clip-path: circle(0px at 100% 0px);
        -webkit-transition: 0.5s ease all;
        -o-transition: 0.5s ease all;
        transition: 0.5s ease all;
        z-index: 100;
        padding: 100px 0px 30px;
        display: flex;
        align-items: center;
        flex-flow: column;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .menu_block .social_mobile_menu ul {
        display: flex;
        flex-flow: row;
        margin: 0 auto;
    }
    .open_menu .menu_block .menu_list > ul{
        display: flex;
        flex-direction: column;
    }
    .open_menu .menu_block .menu_list > ul li {
        transform: translateX(0);
        text-align: center;
        padding-left: 0;
        margin-right: 0;
        flex-wrap: wrap;
        display: inline-block;
    }
    .open_menu .menu_block ul li {
        transform: translateX(0);
    }
    .menu_block ul li {
        margin-right: 0;
        text-align: left;
        width: 100%;
        min-width: auto;
        transform: translateX(100vw);
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu_block ul li a {
        color: #fff;
        font-size: 20px;
    }
    .open_menu .menu_toggle_btn span:nth-child(1) {
        transform: rotate(45deg) translateY(0px) translateX(3px);
    }
    .open_menu .menu_toggle_btn span:nth-child(3) {
        transform: rotate(-47deg) translateY(-7px) translateX(10px);
    }
    .menu_block ul li+li {
        margin-top: 10px;
    }
    .menu_block ul li:nth-child(1) {
        transition-delay: 0.05s;
    }
    .menu_block ul li:nth-child(2) {
        transition-delay: 0.10s;
    }
    .menu_block ul li:nth-child(3) {
        transition-delay: 0.15s;
    }
    .menu_block ul li:nth-child(4) {
        transition-delay: 0.20s;
    }
    .menu_block .menu_list > ul li {
        width: unset;
        height: unset;
        margin-right: auto;
        padding-left: 10px;
        margin-bottom: 15px;
    }
    .menu_block ul li{
        padding-top: 0;
    }
    .menu_block ul li .header_join_btn a{
        width: 152px;
        height: 40px;
        font-size: 12px;
        line-height: 2;
        color: #fff;
        padding: 8px 28px;
    }
    .bg_shape{
        display: inline-block;
        height: 100%;
    }
    .bg_shape img{
        height: 100%;
    }
    .menu_block .social_list{
        width: 40px;
    }
    .menu_block .social_mobile_menu ul li+li{
        margin-top: 0;
    }
    .menu_block .social_mobile_menu ul li{
        padding-bottom: 0;
    }
    .menu_block .social_mobile_menu{
        padding-left: 15px;
        margin-top: 10px;
        padding-right: 15px;
    }
    .menu_block ul li:not(:last-child) {
        margin-right: 10px;
    }
    .menu_block ul li {
        padding-bottom: 0px;
    }
    header{
        padding: 12px 0;
    }
    .log_signup_btn_mobil{
        display: block;
    }
    .log_signup_btn_desktop{
        display: none;
    }
    .header_log_main {
        margin-left: 390px;
        z-index: 0;
    }
    .flag-select__btn:before {
        width: 80%;
    }
    .log_signup_btn ul{
        flex-direction: column;
    }
    .log_signup_btn ul li:first-child a {
        margin-right: 0;
    }
    .About_hover_main{
        position: unset;
        height: 0;
    }
    .navbar_nav li:hover a + .About_hover_main {
        height: auto;
    }
    .About_hover_main{
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .About_hover_item{
        margin-right: 0px;
    }
    .menu_block ul li:not(:last-child) {
        padding: 7px 0;
    }
    .documents_wrap .About_hover_item {
        margin-right: 0;
        width: 100%;
        justify-content: center;
    }
    .About_hover_list {
        padding: 20px 0;
        justify-content: center;
    }
    .Free_Download_box {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .Support_API_images ul li a span{
        font-size: 17px;
        text-align: center;
    }
    .Support_API_images ul div li:nth-child(3) {
        right: -94px;
        bottom: -50px;
    }
    .support_li_hover p {
        padding: 9px 9px 9px 9px;
        font-size: 15px;
    }
    .web_heading h2 {
        font-size: 33px;
    }
    .support_li_hover.support_li_hover_top {
        top: -95px;
    }
    .support_li_hover {
        bottom: -160px;
        right: -75px;
        width: 238px;
    }
    .Support_API_images ul >div:nth-child(2) .support_li_hover_top:nth-child(2) {
        right: 80px;
    }
    .Support_API_images ul >div:nth-child(2) .support_li_hover_top.support_li_hover p::after {
        right: 10px;
    }
    .Support_API_images ul >div:nth-child(3) .support_li_hover_top:nth-child(2) {
        right: -200px;
    }
    .Support_API_images ul >div:nth-child(3) .support_li_hover_top.support_li_hover p::after {
        right: 180px;
    }
    .footer_logo_main ul {
        margin-left: 90px;
    }
    .footer_col ul li a {
        font-size: 15px;
    }
    .footer_col span {
        font-size: 20px;
    }
    .Support_API_sec {
        padding: 24px 0 29% 0;
    }
    .footer_sec {
        background-position-x: -250px;
        padding: 90px 0 50px 0;
    }
    .about_hero_img::before {
        background-size: contain;
        height: 480px;
        right: -35px;
    }
    .about_hero_row .about_hero_text {
        margin-bottom: 0;
    }
    .about_hero_row .about_hero_text h1 {
        font-size: 34px;
    }
    .about_hero_sec {
        height: 480px;
    }
    .about_hero_sec {
        padding: 90px 0 100px 0;
    }
}
    /********************  Mobile Menu Css Close *********************/

@media (max-width: 767px){
    .header_log_main {
        margin-left: 220px;
    }
    .API_cata_wrap .About_hover_item {
        margin-right: 0;
        width: 360px;
        margin-bottom: 25px;
    }
    .hero_img_main img {
        height: 410px;
    }
    .Hero_sec .web_btn {
        left: 80px;
        top: 52%;
    }
    .Geting_col > img{
        width: 75%;
    }
    .Geting_col .web_btn a {
        min-width: 150px;
    }
    .web_btn a {
        font-size: 17px;
    }
    .Geting_col h4 {
        margin: 0px auto 0px auto;
    }
    .Support_API_images ul >div {
        width: 25%;
    }
    .Support_API_images ul div li:nth-child(3) {
        right: -63px;
        bottom: -110px;
    }
    .Support_API_images ul >div:nth-child(3) .support_li_hover_top:nth-child(2) {
        right: -145px;
    }
    .support_li_hover p {
        padding: 5px;
        font-size: 14px;
        line-height: 1.3;
    }
    .support_li_hover {
        width: 195px;
    }
    .Support_API_images ul >div:nth-child(3) .support_li_hover_top.support_li_hover p::after {
        right: 140px;
    }
    .support_li_hover {
        bottom: -215px;
        right: -60px;
    }
    .support_li_hover p::after {
        right: 40px;
    }
    .footer_row {
        flex-wrap: wrap;
    }
    .footer_col {
        width: 50%;
        margin-bottom: 25px;
    }
    .footer_row .footer_col:nth-child(3) {
        display: flex;
        justify-content: start;
    }
    .footer_logo_main ul {
        margin-left: 0px;
    }
    .footer_logo_main a img{
        width: 78%;
    }
    .footer_logo_main ul li:not(:last-child){
        margin-right: 25px;
    }
    .footer_logo_main ul li a {
        font-size: 15px;
    }
    .footer_logo_main {
        margin-top: 30px;
    }
    .Support_API_sec {
        padding: 24px 0 38% 0;
    }
    .footer_sec {
        background-position-x: 80%;
    }
    .about_hero_sec {
        height: 410px;
    }
    .about_hero_row .about_hero_text h1 {
        font-size: 26px;
    }
    .about_hero_row .about_hero_text p {
        font-size: 18px;
        max-width: 230px;
        margin: 25px 0;
    }
    .about_hero_row .about_hero_text a {
        padding: 8px 16px;
        font-size: 16px;
    }
    .about_hero_img::before {
        height: 350px;
        right: -25px;
        top: -45px;
    }
}

@media (max-width: 575px){
    .header_log_main {
        margin-left: 0px;
        position: relative;
        right: -80px;
    }
    .About_hover_main{
        background-size: 220px;
    }
    .About_hover_item p {
        font-size: 14px;
    }
    .About_hover_item > img{
        width: 50px;
    }
    .API_cata_wrap .About_hover_item {
        width: 225px;
        margin-bottom: 10px;
    }
    .Free_Download_box img {
        width: 30%;
        height: unset;
        margin: 13px 0;
    }
    .Free_Download_box h6{
        font-size: 15px;
    }
    .menu_block .Free_Download_box a  {
        font-size: 15px;
    }
    .About_hover_list {
        padding: 10px 0;
    }
    .Geting_started_row {
        flex-wrap: wrap;
    }
    .Geting_col {
        width: 100%;
    }
    .Geting_col > img {
        width: 19%;
    }
    .Geting_started_row .Geting_col:not(:last-child){
        margin-bottom: 15px;
    }
    .hero_img_main img {
        height: 330px;
    }
    .web_btn a {
        font-size: 16px;
        padding: 10px 15px;
    }
    .Hero_sec .web_btn {
        left: 68px;
        top: 56%;
    }
    .Our_business_sec .View_all {
        margin: 20px 0px 0 0;
    }
    .Support_API_images ul div li:nth-child(3) {
        position: unset;
    }
    .Support_API_images ul {
        flex-wrap: wrap;
    }
    .Support_API_images ul >div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .Support_API_images ul div li:nth-child(3) {
        width: unset;
    }
    .Support_API_images ul > div:first-child li:first-child,
    .Support_API_images ul > div:last-child{
        display: none;
    }
    .Support_API_images ul li a span {
        bottom: 40%;
    }
    .support_li_hover {
        bottom: 185px;
        right: 220px;
    }
    .support_li_hover p::after {
        right: 40px;
        top: 60px;
        transform: rotate(180deg);
    }
    .Support_API_images ul >div:nth-child(2) .support_li_hover_top.support_li_hover p::after {
        right: 130px;
    }
    .support_li_hover {
        bottom: 195px;
        right: 140px;
    }
    .support_li_hover p::after {
        right: 10px;
    }
    .Support_API_images ul >div:nth-child(3) .support_li_hover_top:nth-child(2),
    .Support_API_images ul >div:nth-child(2) .support_li_hover_top:nth-child(2) {
        right: 165px;
        top: -105px;
    }
    .Support_API_images ul >div:nth-child(1) .support_li_hover:nth-child(4){
            bottom: 195px;
            right: 215px;
    }
    .Support_API_sec .web_heading h2 {
        margin: 0 auto 35px auto;
    }
    .Support_API_sec {
        padding: 24px 0 20% 0;
    }
    .footer_sec {
        background-position-x: 85%;
    }
    .footer_logo_main {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_logo_main > a{
        text-align: center;
    }
    .footer_logo_main ul {
        width: 100%;
        margin-top: 25px;
        justify-content: center;
    }
    .footer_sec .View_all a {
        margin-left: 0;
    }
    .about_hero_row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .about_hero_row .about_hero_text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
        text-align: center;
    }
    .about_hero_sec {
        height: 610px;
    }
    .about_hero_row .about_hero_text h1 {
        max-width: 100%;
    }
    .about_hero_img::before {
        right: -31px;
        top: -45px;
    }
    .about_hero_row .about_hero_img {
        width: 55%;
    }
    .about_hero_img::before {
        right: -45px;
        top: -38px;
    }
}

@media (max-width: 450px){
    .API_cata_wrap .About_hover_item {
        width: 200px;
    }
    .Free_Download_box {
        margin-bottom: 5px;
    }
    .header_log_main {
        margin-left: 0px;
        right: -60px;
    }
    .header_log_main .flag-select__option {
        font-size: 16px;
    }
    .footer_col {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .footer_row .footer_col:nth-child(3) {
        justify-content: center;
    }
    .Support_API_sec {
        padding: 24px 0 22% 0;
    }
    .Support_API_sec {
        padding: 24px 0 26% 0;
    }
    .footer_text {
        max-width: 100%;
    }
    .about_hero_row .about_hero_img {
        width: 70%;
    }
}

@media (max-width: 400px){
    .logo_hold a img{
        max-width: 80%;
    }
    .Hero_sec {
        padding: 54px 0 0 0;
    }
    .menu_block ul li a {
        font-size: 18px;
    }
    .header_log_main {
        right: -50px;
    }
    .flag-select__btn:before {
        width: 62%;
    }
    .Support_API_sec .web_heading h2 {
        font-size: 30px;
        max-width: 310px;
    }
    .web_heading h2 {
        font-size: 30px;
    }
    .Our_business_item::before {
        left: 53%;
    }
    .Geting_col > img {
        width: 30%;
    }
    .Hero_sec .web_btn {
        left: 57px;
        top: 53%;
    }
    .Support_API_images ul li a svg {
        width: 145px;
        height: 125px;
    }
    .Support_API_images ul li a span {
        bottom: 37%;
    }
    .support_li_hover p::after {
        top: 50px;
    }
    .support_li_hover {
        width: 167px;
    }
    .Support_API_images ul >div:nth-child(1) .support_li_hover:nth-child(4) {
        bottom: 138px;
        right: 120px;
    }
    .Support_API_images ul >div:nth-child(2) .support_li_hover_top.support_li_hover p::after,
    .Support_API_images ul >div:nth-child(3) .support_li_hover_top.support_li_hover p::after  {
        right: 110px;
        bottom: -15px;
    }
    .Support_API_images ul >div:nth-child(3) .support_li_hover_top:nth-child(2),
    .Support_API_images ul >div:nth-child(2) .support_li_hover_top:nth-child(2) {
        right: 105px;
        top: -95px;
    }
    .support_li_hover {
        bottom: 140px;
        right: 60px;
    }
    .about_hero_sec {
        background-position-x: -100px;
    }
}

@media (max-width: 367px){
    .header_log_main {
        right: -20px;
    }
    .logo_hold a img {
        max-width: 75%;
    }
    .Hero_sec {
        padding: 48px 0 0 0;
    }
    header {
        padding: 10px 0;
    }
    .About_hover_main {
        background-size: 150px;
    }
    .web_heading h2 {
        font-size: 27px;
    }
    .Support_API_sec .web_heading h2 {
        font-size: 27px;
    }
    .Our_business_sec .slick-slide img {
        width: 45%;
    }
    .Our_business_item::before {
        left: 50%;
        width: 285px;
    }
    .Our_business_item h3 {
        font-weight: 400;
        font-size: 27px;
    }
    .Our_business_sec .slick-slide .Our_business_item {
        min-height: 330px;
    }
    .hero_img_main img {
        height: 260px;
    }
    .Hero_sec .web_btn {
        left: 40px;
        top: 55%;
    }
    .web_btn a {
        font-size: 15px;
        padding: 10px 12px;
    }
    .footer_logo_main ul li:not(:last-child) {
        margin-right: 22px;
    }
    .footer_logo_main ul li a{
        font-size: 14px;
    }
    .View_all a {
        font-size: 16px;
    }
    .about_hero_row .about_hero_text h1 {
        font-size: 23px;
    }
    .about_hero_row .about_hero_text p {
        font-size: 16px;
        max-width: 98%;
        margin: 20px 0;
    }
    .about_hero_row .about_hero_img {
        width: 80%;
    }
    .about_hero_sec {
        background-position-x: -100px;
        height: 560px;
    }
    .about_hero_img::before {
        right: -24px;
    }
}